services:
  pg:
    image: postgis/postgis:17-3.5-alpine
    container_name: pg-postgis-17-35
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: pgpass
      POSTGRES_DB: gis
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pguser -d gis"]
      interval: 10s
      timeout: 5s
      retries: 10

volumes:
  pgdata:
